<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/darkly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="js/slick-1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="js/slick-1.8.1/slick/slick.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="img/icon-mini.png" style="width: 32px; height: 32px;" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/slick-1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="js/slick-1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="js/slick-1.8.1/slick/slick.css">
    <script src="js/controlador_perfil.js"></script>
    <title>Perfil</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm bg-dark">
                <nav class="navbar navbar-expand-lg navbar-dark" style="width: 100%;">
                    <a href="#" class="mr-4">
                        <img src="img/icon.png" alt="logo" width="100">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarColor02">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link pl-3 mr-4" href="index.html?id_usuario={{resultados.id_usuario}}">Inicio <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" ng-if="resultados.tipo_usuario == 'NORMAL'" href="premium.html">Premium</a>
                                <a class="nav-link pl-3" ng-if="resultados.tipo_usuario == 'PREMIUM'" href="info_premium.html?id_usuario={{resultados.id_usuario}}">Premium</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0 pl-3">
                            <div class="container">
                                <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
                                <button class="btn btn-secondary my-2 my-sm-0 mr-3" type="submit">Buscar</button>
                                <div class="dropdown">
                                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"><img
                                            class="rounded-circle" src="{{resultados.img_usuario}}" alt="icono_usuario" width="50"></a>
                                    <div class="dropdown-menu dropdown-menu-right row p-0" style="width: 30vh;">
                                        <div class="container p-0">
                                            <div class="card container d-flex justify-content-center p-0">
                                                <img class="card-img-top mt-4 rounded-circle" src="{{resultados.img_usuario}}" alt="Card image"
                                                    style="width:40%">
                                                <div class="card-body pb-1">
                                                    <h4 class="card-title text-center" style="font-size: 100%;">{{resultados.nombre_usuario}}</h4>
                                                    <a href="perfil.html?id_usuario={{resultados.id_usuario}}"
                                                        class="btn btn-warning mt-2 col-sm container justify-content-center"
                                                        style="width: 100%;">Ajustes</a>
                                                    <a href="FAQ.html?id_usuario={{resultados.id_usuario}}"
                                                        class="btn btn-warning mt-2 col-sm container justify-content-center"
                                                        style="width: 100%;">Ayuda</a>
                                                    <a href="#" class="btn btn-warning mt-2 col-sm container"
                                                        style="width: 100%; height: 500%;">Cerrar sesión</a>
                                                </div>
                                                <div class="row container pl-0 pr-0 pb-3 pt-3" style="font-size: 11px;">
                                                    <div class="col-sm d-flex justify-content-center">
                                                        <a target="_blank" href="./politicas/politicas.pdf">Politicas de
                                                            privacidad</a>
                                                    </div>
                                                    <div class="col-sm d-flex justify-content-center">
                                                        <a href="#">Términos del servicio</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 pt-3">
                <div class="row">
                    <div class="col-sm d-flex justify-content-center">
                        <img ng-src="{{resultados.img_usuario}}" alt="icono_usuario" style="width: 35%;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm d-flex justify-content-center">
                        <span>{{resultados.nombre_usuario}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm d-flex justify-content-center">
                        <a href="#" class="btn btn-warning text-dark mt-1" style="width: 70%;">Cambiar
                            nick</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm d-flex justify-content-center">
                        <a ng-if="resultados.tipo_usuario == 'NORMAL'" href="/premium.html" class="btn btn-warning text-dark mt-1"
                            style="width: 70%;">Únete a premium</a>
                            <a ng-if="resultados.tipo_usuario == 'PREMIUM'" href="info_premium.html?id_usuario={{resultados.id_usuario}}" class="btn btn-warning text-dark mt-1"
                            style="width: 70%;">Consultar suscripcion</a>
                    </div>
                </div>
                <div class="row">
                    <div class="container col-sm d-flex justify-content-center">
                        <h4 class="mt-4 d-flex justify-content-center">Mis datos</h4>
                    </div>
                </div>
                <div class="row">
                    <p class="col-sm text-center">Nombre: {{resultados.nombre_usuario}}</p>
                </div>
                <div class="row">
                    <p class="col-sm text-center">Fecha de nacimiento: {{resultados.fecha_de_nacimiento}}</p>
                </div>
                <div class="row">
                    <p class="col-sm text-center">E-mail: {{resultados.email}}</p>
                </div>
            </div>
            <div class="col-sm-9 mb-5 pb-4">
                <div class="row">
                    <img src="{{resultados.img_banner}}" alt="banner" style="width: 100%; height: 25vh;" class="mt-2 pr-2">
                </div>
                <div class="row">
                    <div class="col-sm d-flex justify-content-center">
                        <form action="/action_page.php" class="pt-3" style="width: 65%;">
                            <div class="form-group">
                                <label>Cambiar e-mail</label>
                                <input type="email" class="form-control mb-2" id="old_email"
                                    placeholder="Antiguo e-mail" name="old_email">
                                <input type="email" class="form-control" id="new_email" placeholder="Nuevo e-mail"
                                    name="new_email">
                            </div>
                            <div class="form-group">
                                <label>Cambiar contraseña</label>
                                <input type="password" class="form-control mb-2" id="old_pswd"
                                    placeholder="Antigua contraseña" name="old_pswd">
                                <input type="password" class="form-control" id="new_pwd" placeholder="Nueva contraseña"
                                    name="new_pwd">
                            </div>
                            <button type="submit" class="btn btn-warning text-dark">Enviar</button>
                        </form>
                    </div>
                    <div class="col-sm" style="width: 100%;">
                        <div class="row">
                            <div class="col-sm d-flex justify-content-center mt-3 mb-2">
                                <h4 class="text-warning">Tus favoritos</h4>
                            </div>
                        </div>
                        <div class="single-item mr-3 mx-auto" style="width: 80%; height: 80%;">
                            <div data="resultados.favoritos.juegos.length" slick-slider="{{slickParams}}">
                                <div class="ml-3" ng-repeat="juego in resultados.favoritos.juegos">
                                    <a ng-href="/info_juego.html?id_juego={{juego.id_juego}}"><img ng-src="{{juego.img_juego}}" style="width:100%; height:100%"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center pt-5 mt-2" style="width: 100%;">
                <footer class="page-footer">
                    <div class="container">
                        <div class="container-fluid d-flex justify-content-center ml-3">
                            <div class="mr-3">
                                <p class="ml-2">Contacto</p>
                                <div class="container d-flex justify-content-center">
                                    <div>
                                        <div class="row">
                                            <div class="col-sm"><a href="FAQ.html?id_usuario={{resultados.id_usuario}}">Ayuda</a></div>
                                        </div>
                                        <div class="row">
                                            <a href="aboutus.html?id_usuario={{resultados.id_usuario}}" class="col-sm">Sobre nosotros </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mr-3">
                                <p class="col-sm d-flex justify-content-center">Siguenos</p>
                                <div class="container col-sm">
                                    <div class="d-flex justify-content-center">
                                        <div class="d-flex justify-content-center">
                                            <div class="row-sm d-flex justify-content-center">
                                                <div class="col-sm p-1"><i><a
                                                            href="https://www.facebook.com/profile.php?id=100052372509502"><img
                                                                src="img/facebook.png" alt="facebook"
                                                                style="width:4vh;"></a></i></div>
                                                <div class="col-sm p-1"><i><a href="https://twitter.com/pochadia"><img
                                                                src="img/twitter.png" alt="twitter"
                                                                style="width:4vh;"></a></i></div>
                                                <div class="col-sm p-1"><i><a
                                                            href="https://www.instagram.com/pochadia/"><img
                                                                src="img/instagram.png" alt="instagram"
                                                                style="width:4vh;"></a></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Copyright -->
                    <div class="footer-copyright text-center pb-2 pt-2">© 2020 Copyright:
                        <a href="principal.html"> Pochadia.com</a>
                    </div>
                    <!-- Copyright -->
                </footer>
            </div>
        </div>
    </div>

    <script src="js/slick-1.8.1/slick/slick.min.js"></script>
    <script>
        $('.single-item').slick();
    </script>
</body>

</html>